header {
  height: 100px;
  padding: 10px;
  background-color: #3939c8;
  color: white;
  box-sizing: border-box;
}

main {
  background-color: #aaaa;
  color: black;
  padding: 20px;
}

.images {
  display: grid;
  grid-template-columns: repeat(3);
  gap: 10px;
  margin-top: 20px;
}

.images img {
  width: 100%;
  height: auto;
}

